.nav-bar {
    font-family: 'DynaPuff', cursive;
    color: #000000;
}

.nav-bar-container {
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
}

.nav-bar-container .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-container .navigation svg {
    width: 50px;
    height: 50px;
}

.nav-bar-container .navigation h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.nav-bar-container .subnav {
    display: flex;
    align-items: center;
}


.nav-bar-container li a {
    text-decoration: none;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
    cursor: pointer;
}

.nav-bar-container li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #ff6122;
    bottom: -1em;
    transition: all ease-in-out 250ms;
}

.nav-bar-container li a:hover::after {
    width: 60%;
}

.nav-bar-container li a:hover {
    color: #ff6122;
}